/* Base */
body {
    background: black;
    font-family: monospace;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

/* Terminal */
#terminal {
    position: absolute;
    inset: 10%;
    overflow: hidden;
}

/* Utility */
.xterm-viewport {
    overflow-y: hidden !important;
}