# Version control
.git
.gitignore
**/.git*

# Docker files
Dockerfile
.dockerignore
docker-compose.yml

# Utilities
deployment/

# Python
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

# OS specific
.DS_Store